.economicDisparity {
	background-color: #D8CADF;
}

.halfimages {
	width: 40%;
	margin: 2.5%;
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: left;
}

.segregationCase1 #description {
	margin: 10%;
	margin-top: 10px;
	margin-bottom: 20px;

}

.halfimages #descripion {
	position: relative;
}

.segregation {
	background-color:  #E0E8E8;
}

#caption{
	font-size: 15px;
	font-weight: cursive;
	text-align: center;
}

.onethird{
	display: inline-block;
	padding: 30px;
	padding-left: 1.5%;
	padding-right: 1.5%;

}


.case2 {
	width: 100%;
	display: inline-block;
}

.segregationCase1 .visualDataL {
	width: 50%;
}
.segregationCase1 {
	display: inline-block;
}

.segregationCase2 {
	display: inline-block;
}

.segregationCase1 .dataDescriptionR {
	width: 40%;
}

.stereotyping .visualDataL{
	width: 30%;
}

.stereotyping .dataDescriptionR {
	width: 60%;
}

.main-title{
	font-size: 40px;
	font-weight: bold;
	line-height: 10px;
	padding: 10px;	
}

img {
	width: 100%;
}